
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bulma/bulma";


.has-padding {
	padding: 1.5em 1em;
}

.has-margin {
	margin-bottom: 1.5em;
}

.is-v-centered {
	display: flex;
	align-items: center;
	height: 100%;
}

.button.is-text {
	color: $text;
	opacity: 1;
}

.input.is-centered {
	text-align: center;
}
